<head><script src='/static/bs/js/jquery.min.js'></script>
<script src='/static/bs/js/bootstrap.min.js'></script>
<link rel='stylesheet' href='/static/bs/css/bootstrap.min.css'>
</head>
<body>
	<div class='contai	ner'>
		<div class='panel panel-primary'>
			<div class='panel-heading'>
				<button class='btn btn-success'>添加学生展示页面</button>
				<a href="/Students" class='btn btn-danger'>查看数据</a>
			</div>
			<div class='panel-body'>
				<form action='/students' method='post'>
					<div class='fromg-roup'>
						<label from=''>NAME</label>
						<input  placeholder= '请输入用户名' type="text" name="e_name" class="form-control" id=''>
					</div>
					<div class='fromg-roup'>
						<label from=''>PROFESS</label>
						<input  placeholder= '请输入科目' type="text" name="e_profess" class="form-control" id=''>
					</div>
					<div class='fromg-roup'>
						<label from=''>RESULT</label>
						<input  placeholder= '请输入分数' type="text" name="e_result" class="form-control" id=''>
					</div>
					<div class='fromg-roup'>
						<label from=''>ADDRESS</label>
						<input  placeholder= '请输入地址' type="text" name="e_address" class="form-control" id=''>
					</div>
					<div class='fromg-roup'>
						<input type="submit" value='提交' class='btn btn—success'>
						<input type="reset" value='重置' class='btn btn—danger'>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
