<script src='/JavaScript/jquery-1.12.4.js'>
</script>
<script>
<!--
	$(function()
	{
		$("#abc").click(function()
		{
			var num = Math.random();
			$(this).attr('src','/captcha?id='+num);
		})
	})
-->
</script>
<h1>学生管理系统</h1>
{include file="public/header" /}
<p><h2>
<A HREF="__CONTROLLER__/insert">添加</A>
<A HREF="__CONTROLLER__/update">修改</A>
<A HREF="__CONTROLLER__/delete">删除</A>
<A HREF="__CONTROLLER__/select">查询</A>
</h2>
</p>
<form action='{:url('check')}' method='post'>
	<h2>{$title}<h2>
	<p>
	请输入学生姓名:<input type='text' name='e_name'>
	</p>
	<p>
	验证码:<input type='text' name ='code'>
	<img src='{:captcha_src()}' id='abc' alt='看不清换一张'>
	</p>
	<p><input type='submit' name='act' value='登录'>
	<input type='reset' value='取消'>
	</p>
</form>
{include file="public/foot" /}